<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <link rel="stylesheet" href="../../static/style/bender/bootstrap-reboot.css"
    th:href="@{/styles/bender/bootstrap-reboot.css}">

  <!-- icon -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="../../static/style/task_home/task_home.css" th:href="@{/style/task_home/task_home.css}">

  <title>タスクホーム</title>
</head>

<body>

  <div class="global-container">
    <div class="container">

      <header class="header">
        <div class="header-inner">
          <div class="header-logo">
            <img src="../../static/img/todo_logo.png" th:src="@{/img/todo_logo.png}" alt=""
            class="img-logo">
          </div>

          <div class="logout">
            <a href="#" class="logout-link">ログアウト</a>
          </div>
          
        </div>
      </header>

      <div class="content">
          <section class="head">
            <div class="head-item">
              <div class="head-name" th:text="|ようこそ ${username} さん|">ようこそ 山田 さん</div>
            </div>
            <div class="head-item">
              <h1 class="head-title">タスク管理</h1>
            </div>
          </section>

          <main class="main">
            <section class="main-head">
              <div class="main-head-title">
                <h2>山田 さんのタスク</h2>
              </div>
              <div class="main-head-add">
                <button>+ 新規タスク登録</button>
              </div>
            </section>

            <section class="main-details">
              <div class="main-table">

              </div>
              <div class="main-chart">

              </div>
            </section>

          </main>

      </div>
    </div>

  </div>
</body>

</html>