<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <link rel="stylesheet" href="../../static/style/bender/bootstrap-reboot.css"
    th:href="@{/styles/bender/bootstrap-reboot.css}">

  <!-- icon -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="../../static/style/task_home/task_home.css" th:href="@{/style/task_home/task_home.css}">

  <title>タスクホーム</title>
</head>

<body>

  <div class="global-container">
    <div class="container">

      <header class="header">
        <div class="header-inner">
          <div class="header-logo">
            <img src="../../static/img/todo_logo.png" th:src="@{/img/todo_logo.png}" alt="" class="img-logo">
          </div>

          <div class="logout">
            <a href="#" class="logout-link">ログアウト</a>
          </div>

        </div>
      </header>

      <div class="content">
        <section class="head">
          <div class="head-item">
            <div class="head-name" th:text="|ようこそ ${username} さん|">ようこそ 山田 さん</div>
          </div>
          <div class="head-item">
            <h1 class="head-title">タスク管理</h1>
          </div>
          <div class="head-notice">
            通知
          </div>
        </section>

        <main class="main">
          <section class="main-head">
            <div class="main-head-title">
              <h2>山田 さんのタスク</h2>
            </div>
            <div class="main-head-add">
              <button class="btn-close">
                <span class="material-icons btn-icon">add_circle_outline</span>
                <span>新規タスク登録</span>
              </button>
            </div>
            <div class="main-head-search">
              検索フォーム設置
            </div>

          </section>

          <section class="main-details task">
            <div class="task-details">
              <table>
                <tbody>
                  <tr>
                    <th>タスク名</th>
                    <th>開始日時</th>
                    <th>終了日時</th>
                    <th>重要度</th>
                    <th>進捗度</th>
                  </tr>
                  <tr>
                    <td>タスク1</td>
                    <td>2020-01-01</td>
                    <td>2020-01-09</td>
                    <td>重要</td>
                    <td>55％</td>
                  </tr>
                  <tr>
                    <td>タスク2</td>
                    <td>2020-01-07</td>
                    <td>2020-01-15</td>
                    <td>重要</td>
                    <td>10％</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="task-chart">
              チャート画面
            </div>
          </section>

        </main>

      </div>
    </div>

    <div class="back-container">
      <div class="form-container">
        <form method="post" action="#" th:action="@{/}" class="form" th:object="${taskRegisterForm}">

          <div class="form-item form-item-top">
            <h2 class="form-title">タスク登録</h2>
          </div>

          <div class="form-item">
            <label class="form-label" for="task-name">タスク名: </label>
            <input type="text" id="task-name" class="form-text">
          </div>
          <div class="form-item">
            <label class="form-label" for="start-time">開始時期: </label>
            <input type="datetime-local" name="startTime" id="start-time" class="form-datetime">
          </div>
          <div class="form-item">
            <label class="form-label" for="end-time">開始時期: </label>
            <input type="datetime-local" name="endTime" id="end-time" class="form-datetime">
          </div>
          <div class="form-item">
            <label class="form-label" for="detail">詳細: </label>
            <textarea name="detail" id="detail" cols="30" rows="5" class="form-textarea"></textarea>
          </div>
          <div class="form-item">
            <label class="form-label" for="importance">重要度: </label>
            <select name="importance" id="importance">
              <option value="">重要</option>
              <option value="">普通</option>
            </select>
          </div>
          <div class="form-item">
            <label class="form-label" for="progress">進捗度: </label>
            <input type="number" max="100" min="0" id="progress" class="form-text">
          </div>
          <div class="form-item">
            <label class="form-label" for="notice">重要度: </label>
            <input type="radio">通知
          </div>

          <div class="form-item form-item-bottom">

            <button type="submit" class="btn-close">
              <span class="material-icons btn-icon">app_registration</span>
              <span class="btn-text">登録</span>
            </button>

          </div>
        </form>
      </div>
    </div>

  </div>
</body>

</html>