.pa-10 {
  padding: 10px;
}

.pa-20 {
  padding: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.font-a-s, .logout-link {
  font-size: 12px;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #2a2626;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.form-item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-item-top {
  margin-bottom: 10px;
}

.form-item-bottom {
  margin-bottom: 0;
}

.form-label {
  width: 90px;
  margin: 0;
  font-weight: 700;
  color: #544d4d;
}

.form-error {
  color: crimson;
  margin-bottom: 0;
  font-size: 14px;
}

.form-text:focus {
  -webkit-box-shadow: 0 0 5px 0px #ff9900;
          box-shadow: 0 0 5px 0px #ff9900;
  outline: #ff9900;
  border: 2px solid #ff9900;
  background-color: #d9ebf7;
}

.btn-sink {
  background: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff9800;
  padding: 10px 20px;
  color: white;
  border-bottom: 5px solid #d37e00;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  border-radius: 5px;
}

.btn-sink:hover {
  border-bottom: 2px solid #d37e00;
  margin-top: 3px;
}

.btn-sink-icon {
  font-weight: 700;
  margin-right: 5px;
}

.btn-close {
  position: relative;
  background: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  overflow: hidden;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  padding: 10px 20px;
  color: white;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.btn-close::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #094;
  -webkit-transform: translateX(-100%) skewX(50deg);
          transform: translateX(-100%) skewX(50deg);
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

.btn-close::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #094;
  -webkit-transform: translateX(100%) skewX(50deg);
          transform: translateX(100%) skewX(50deg);
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

.btn-close:hover {
  color: black;
}

.btn-close:hover::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-20%) skewX(50deg);
          transform: translateX(-20%) skewX(50deg);
}

.btn-close:hover::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(20%) skewX(50deg);
          transform: translateX(20%) skewX(50deg);
}

.btn-close-icon {
  font-weight: 700;
  margin-right: 5px;
}

.btn-close span {
  position: relative;
  z-index: 100;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

.img-logo {
  width: 100px;
  height: 35px;
}

.header {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 5px;
}

.header-inner {
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head {
  margin: 0 8px;
}

.head-title {
  color: #383838;
  font-size: 20px;
}

.head-name {
  font-size: 12px;
  text-align: right;
  color: #383838;
}

.main {
  margin: 0 8px;
}
/*# sourceMappingURL=task_home.css.map */