<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../static/style/bender/bootstrap-reboot.css"
        th:href="@{/styles/bender/bootstrap-reboot.css}">

    <!-- icon -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap"
        rel="stylesheet">
    
    <link rel="stylesheet" href="../../static/style/login/login.css" th:href="@{/style/login/login.css}">

    <title>ログインページ</title>
</head>

<body>
    <h1>ログインページ</h1>

    <form method="post" action="#" th:action="@{/login}">
        <label>id</label>
        <input type="text" name="username" id="username">
        <label>pass</label>
        <input type="password" name="password" id="password">
        <button type="submit">ok</button>
    </form>

    <span class="material-icons">
        login
        </span>
        <span class="material-icons">face</span>
</body>

</html>