<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="../../static/style/bender/bootstrap-reboot.css"
        th:href="@{/styles/bender/bootstrap-reboot.css}">

    <!-- icon -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../../static/style/login/login.css" th:href="@{/style/login/login.css}">

    <title>ログインページ</title>
</head>

<body>
    <div id="global-container">

        <div class="title">
            <img src="../../static/img/todo_logo.png" alt="" class="img-logo">
        </div>

        <div class="form-container">
            <form method="post" action="#" th:action="@{/login}" class="form">
                
                <div class="form-item form-item-top">
                    <h2 class="form-title">ログイン</h2>
                </div>
                <div class="form-item form-item-top">
                    <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null" 
                    th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
                    class="form-error">
                    ログインIDまはたパスワードが間違っています。
                </p>
                </div>

                <div class="form-item">
                    <label class="form-label">id: </label>
                    <input type="text" name="username" id="username" class="form-text">
                </div>
                <div class="form-item">
                    <label class="form-label">password: </label>
                    <input type="password" name="password" id="password" class="form-text">
                </div>
                <div class="form-item form-item-bottom">
                    
                        <button type="submit" class="btn-sink">
                            <span class="material-icons btn-icon">login</span>
                            <span class="btn-text">ログイン</span>
                        </button>
                    
                </div>
            </form>
        </div>

    </div>
</body>

</html>