.form-container {
    display: flex;
    justify-content: center;
}

.form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #2a2626;

    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .3);

    &-item {
        margin-bottom: 15px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &-top {
            margin-bottom: 10px;
        }

        &-bottom {
            margin-bottom: 0;
        }
    }

    &-label{
        width: 90px;
        margin: 0;
        font-weight: 700;
        color: #544d4d;
    }

    &-error {
        color: crimson;
        margin-bottom: 0;
        font-size: 13px;
    }

    &-text , &-datetime {
        &.error {
            background-color: #ffc9d3;
            &:focus {
                background-color: #ffc9d3;
            }
        }
        &:focus {
            box-shadow: 0 0 5px 0px rgba(255,153,0,1);
            // outline: 2px solid #ff9900;
            outline: rgba(255,153,0,1);
            border: 2px solid rgba(255,153,0,1);
            background-color: #d9ebf7;
        }
    }

    // &-text.error{
    //     background-color: red;
    // }

    &-textarea , &-select{

        &.error {
            background-color: #ffc9d3;
            &:focus {
                background-color: #ffc9d3;
            }
        }

        &:focus {
            box-shadow: 0 0 5px 0px rgba(255,153,0,1);
            // outline: 2px solid rgba(255,153,0,1);
            outline: rgba(255,153,0,1);
            border: 1px solid rgba(255,153,0,1);
            background-color: #d9ebf7;
        }
    }

    &-datetime {
        width: 200px;
    }

    &-textarea {
        width: 200px;
    }

}