body {
    font-family: $font-family;
}

.img-logo {
    width: 100px;
    height: 35px;
}

.header {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 5px;

    &-inner {
        margin: 8px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logout-link {
    @extend .font-a-s;
}

.head {
    margin: 0 8px;
    margin-bottom: 20px;

    &-title {
        color: $cNaturalGray;
        font-size: 20px;
    }

    &-name {
        font-size: 12px;
        text-align: right;
        color: $cNaturalGray;
    }

    &-notice {
        background-color: #e9f1e9;
        border: 1px solid #3a9990;
        border-radius: 4px;
        margin: 10px;

        max-height: 100px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: #3a9990;
            border-radius: 3px;
        }

        &::-webkit-scrollbar-track {
            background: #989b9880;
        }

        &-ul {
            list-style: none;
            margin: 0;
            padding: 6px;
        }

        &-li {
            display: flex;
            align-items: center;
        }

        &-text {
            font-size: 14px;
        }
    }
}

.icon {
    &-normal {
        font-size: 20px;
        margin-right: 6px;
        color: #28bda1;
    }

    &-warn {
        margin-right: 6px;
        font-size: 20px;
        color: #db546d;
    }
}

.main {
    margin: 0 8px;
}

.global-container {
    position: relative;
    height: 100vh;
    height: 1000px; // test
}

// 裏側のオブジェクト
.back-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    z-index: -100;
    opacity: 0;

    transition: all 0.3s;

    &.in-view {
        opacity: 1;
        z-index: 50;
    }
}

/** フォーム部分 */
.form {
    position: relative;
    background-color: white;

    &-item {
        justify-content: flex-start;

        &-bottom {
            justify-content: center;
        }

        &-top {
            justify-content: center;
        }
    }

    &-container {
        position: fixed;
        width: 100%;
    }
}

.task {

    &-details {
        max-height: 200px;
        overflow-y: scroll;
    }

    /** テーブル */
    &-table {
        // display: flex;
        // justify-content: center;
        width: 100%;
        border-collapse: separate;
        border-spacing: 3px;
        position: relative;

        &-th {
            background-color: #3a9990;
            color: #e9f1e9;
            border-radius: 3px;
            position: sticky;
            top: 0;
        }

        &-td {
            // border: 1px solid #9e9e9e;
            color: $cNaturalGray;

        }

        &-tr {

            &:nth-child(even) {
                .task-table-td {
                    background-color: #e9f5f4;
                }
            }

            &:nth-child(odd) {
                .task-table-td {
                    background-color: #e1e6f5;
                }
            }
        }

    }
}

.btn {
    padding: 8px 10px;
    margin-bottom: 10px;

    &-icon {
        font-size: 15px;
    }

    &-text {
        font-size: 12px;
    }
}